*{
    font-family: 'TT Lakes Condensed';
}

body{
    min-width: 320px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: solid 1px #41f6d6;
}

.button{
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: none;
    background-color: #FF3E79;
    align-items: center;
}

.button img{
    height: 15px;
    width: auto;
}

.button_left{
    gap: 10px;
}

.button_right{
    gap: 10px;
    display: none;
}

.line{
    height: 35px;
    width: 2px;
    background-color: grey;
}

.cps{
    height: 35px;
    width: auto;
}

.header_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header_right{
    display: flex;
    flex-direction: column;
    max-height: 35px;
    flex-wrap: nowrap;
    gap: 30px;
    align-items: flex-end;;
}

.main h1{
    border-left: solid 2px #41f6d6;
    padding-left: 15px;
}


.main_aside{
    overflow-x: scroll;
}

.main_aside ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    padding: 0;
}

.ul{
    padding-inline-start: 40px;
}

.main ul li{
    min-width: max-content;
    border: solid 2px #41f6d6;
    border-radius: 8px;
    padding: 8px 10px;
    color: #909090;
}

.main_article{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 30px;
}

p{
    display: block;
}
.section{
    display: flex;
    font-size: large;
    margin: 20px 0;
    gap: 15px;
}

.Picture{
    width: 100%;
    height: auto;
}


@media screen and (min-width: 850px){
    .main_article{
        display: flex;
        flex-direction: row;
    }

    .header_right{
        display: flex;
        flex-direction: row;
        max-height: 35px;
        flex-wrap: nowrap;
        gap: 30px;
        align-items:flex-end;
    }

    .Picture{
        width: 360px;
        height: auto;
    }

    .button_right{
        display: inline;
    }

    .main_aside{
        overflow-x: hidden;
    }

    .main_aside ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        padding: 0;
        list-style: none;
    }
    
    h1{
        font-size: 25px;
    }
}
